mixin createPostForm()
    .postFormContainer
        .form-group.textareaContainer
            textarea#postTextarea.form-control(rows='3', placeholder="What's happening")
        .submitButton
            button#submitPostButton.btn.btn-primary.mb-2(disabled="true") Post


mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLongTitle.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    .originalPostContainter
                    .postFormContainer
                        .form-group.textareaContainer
                            textarea#replyTextarea.form-control(rows='3', placeholder="What's happening")      
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button' disabled="") Reply


mixin createDeleteModal()
    #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModal' aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deleteModalLongTitle.modal-title Delete Post?
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p You will be unable to undo this
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    buttons#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostsModal(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeleteModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}